html, body {
  font-family:'Open Sans',arial,helvetica,sans-serif;
  background:white;
  padding-right: 0 !important; /*swal adds padding to stop shift on scroll-bar*/
}
body.loading * {
  cursor:wait !important;
}
#svgHolder {
  background:white;
}
var, a {
  color:#096ba5;
  cursor:pointer;
  font-style:normal;
  text-decoration:none;
}
var:hover, a:hover {
  text-decoration:underline;
}
/*#project_non_preview .buttons input {
  padding:6px 16px;
}*/
#projectLink a {
  font-size:13px
}
#projectLinkCopy {
  width: 11px;vertical-align: middle;cursor: pointer;
  opacity:0.6;
}
#projectLinkCopy:hover {
  opacity:1;
}
.colourpicker {
  width:100%;
  height:40px;
  box-sizing:border-box;
  border-radius:3px;
  border:3px solid white;
  box-shadow:0 0 1px black;
}
#info textarea, #info input {
  border:1px solid #ccc;
}
body.previewHolder #svgHolder, body #previewer, body #project_preview, body.previewHolder #project_non_preview, body #project_pre_save {
  display:none;
}
body.previewHolder:not(.preSave) #project_preview {
  display:block;
}
body.previewHolder #previewer, body.previewHolder.preSave #project_pre_save {
  display:block;
}

body.previewHolder {
  overflow:auto;
}

#scaleShortcuts var {
  padding:6px 7px 0;
}
var.leftOption:hover, var.rightOption:hover {
  color:#0065B3;
}

#projectList {
  border:1px solid #ccc;margin-top:9px;border-radius:3px;max-height:200px;overflow-y:auto;
  background: white;
  max-height:300px;
  max-height: calc(100% - 140px);
  /*min-height:115px;*/
}
#projectList > div {
  border-bottom: 1px solid #ccc;
  padding:10px;
  cursor:pointer;
}
#projectList > div:hover {
  background:#eee;
}

@font-face {
  font-family:Gotham;
  src: url(Gotham-Black.otf);
}
.logo {
  font-family:Gotham;
  font-weight:bold;
  font-size:42px;
  text-align:left;
  color:black;
}
.logo:after {
  content:"UK";
  color:#0065B3
}
svg {
    position:relative;
    z-index:2;
    /*cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;*/
}
/*body.dragging svg {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}*/
body.animate svg g {
  -webkit-transition: transform 0.3s; /* Safari */
}
body.animate svg path {
  -webkit-transition: d 0.3s; /* Safari */
}
svg path, svg circle, svg rect, svg image {
  cursor:default;
}


.ui-autocomplete-loading {
  background: white url("images/load.gif") right 10px center no-repeat;
}
#node_search_text {
  padding: 3px;
  font-size: 24px;
  border-radius: 4px;
  width:100%;
  box-sizing:border-box;
}
#adder .card .name {
  margin-bottom:5px
}
#adder .card img {
  max-height:200px;max-width:100%;
  border-radius:3px;
}
#adder .card.noimg img {
  display:none;
}
#dclick_prompt {
  display:none;
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
  font-size:27px;
  font-weight:bold;
  color:#cecece;
  pointer-events:none;
  /*text-shadow:0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;*/
  z-index:5;
}
.subtitle {
  font-size:15px;
  color:#666;
}
.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color:#007dc1;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color:#0061a7;
}
.myButton:active {
  position:relative;
  top:1px;
}
.myButton.grayscale {
  filter:grayscale(100%) brightness(120%);
}
svg text {
  font-size:16px;
  font-weight:bold;
}
svg .conceptG.img text.blurred {
  stroke-width:5px;
  stroke:white;
  filter:url(#blur);
  /*text-shadow:0 0 6px white;*/
}
svg .conceptG.img text {
  visibility:hidden;
}
body:not(.brushing) svg .conceptG.img:hover text, body:not(.brushing) svg .conceptG.img.always_text text {
  visibility:visible;
}
body:not(.brushing) svg .conceptG.img:hover image, body:not(.brushing) svg .conceptG.img.always_text image {
  opacity:0.75;
}
body:not(.brushing) svg .conceptG.img.always_text:hover image {
  opacity:0.68;
}
body:not(.brushing) g.conceptG.clr:hover circle.over, body:not(.brushing) g.conceptG.clr:hover rect.over {
  opacity:0.92;
}
body.brush .conceptG circle, body.brush .conceptG rect {
  cursor:cell;
}
body.brush .conceptG.selected circle, body.brush .conceptG.selected rect {
  cursor:default;
}
body.brushing path, body.brushing circle, body.brushing rect  {
  cursor: crosshair !important;
}

#overlay > div {
  position:fixed;
  width:300px;height:100%;
  background:#f4f4f4;
  z-index:1;
  box-shadow:2px 0px 5px #999;
  padding:20px;
  box-sizing:border-box;
  overflow-y:auto;
}
#overlay input[type=text], #overlay input[type=password] {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  font-size: 19px;
}
#login input[type=text], #login input[type=password] {
  font-size:17px;
  border: 1px solid #d5d5d5;
  padding:4px;
}
#overlay input[type=text].url, #overlay input[type=password].url {
  font-size:16px;
}
#svgHolder, #previewer {
  margin-left:300px;
  position:relative;
}
#svgBackground {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  opacity:0.1;
}
#project .fields > div {
  margin-bottom:25px;
}
#previewer {
  display:none;
  z-index:10;
  position:relative;
}
#piframe > div {
  width:840px; /*default size*/
  height:600px;
}
#piframe iframe {
  display:block;
  width:100%;
  height:100%;
  border:0;
  border: 1px dashed #eee; /*1px solid #444;*/
}
#pdimensions {
  margin-top: 10px;
  color: #bbb;
  font-size: 13px;
  cursor:pointer;
  display:inline-block;
}
#previewer #pcover {
  display:none;
  position:absolute;
  left:0;top:0;width:100%;height:100%;
  z-index:10;
}
#previewer.dragging #pcover {
  display:block;
}

body.preview #overlay {
  display:none !important;
}
body.preview #svgHolder {
  margin-left:0;
}
#svgHolder .logo {
  font-size: 25px;
  position: absolute;
  right: 11px;
  bottom: 7px;
  display:none;
  z-index:100;
  text-decoration:none;
}
body.preview #svgHolder .logo {
  display:block;
}
@media (max-width: 500px) {
  #svgHolder .logo {
    font-size:20px;
  }
}
@media (max-width: 350px) {
  #svgHolder .logo {
    font-size:14px;
  }
}
@media (max-width: 200px) {
  #svgHolder .logo {
    visibility:hidden;
  }
}
#mapActionButtons {
  position:absolute;top:10px;right:10px;
  z-index:100
}
#mapActionButtons > img {
  width: 17px;
  background: rgba(256,256,256,0.7);
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  cursor:pointer;
}
body.main #svgHolder, body.login #svgHolder {
  display:none;
}
body.screenshotting #mapActionButtons, body.screenshotting #dclick_prompt {
  display:none !important;
  visibility:hidden;
}
#screenshotPopup {
  font-size:14px;
}
#screenshotPopup img {
  margin-top:10px;
  width:100%;
  display:block;
  border: 1px solid #eee;
  border-radius: 3px;
}
#blurb textarea {
  width: 100%;
  max-width:100%;
  min-width:100%;
  box-sizing: border-box;
  font-size:12px;
}
.infopopup em {
  font-style:italic;
  display:block;
  margin-bottom:15px;
  font-size:20px;
  font-weight:bold
}
.infopopup span {
  display:block;
  /*max-height: 120px;*/
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 13px;
  text-align: left;
  white-space: pre-wrap;
  padding: 5px;
}
#advancedOptions .list > var {
  margin-right:10px;
  margin-bottom:6px;
  display:inline-block;
}
#project ul {
  margin:0;
  padding:15px 0 8px 20px;
}
#project li {
  padding-bottom:20px;
  font-size:16px;
}
.help {
  width: 13px;
  opacity: 0.5;
  cursor:pointer;
  margin-bottom:-2px;
}
.help:hover {
  opacity:1;
}
.valign span, .valign img, .valign a {
  vertical-align:middle;
}

#shaperOptions select, #nodeShaper select {
  width:100%;
  font-size:14px;
}
#shaperOptions > div > div {
  margin: 20px 25px 0;
  font-size: 12px; /*changes slider size*/
}
#shaperOptions .prompt {
  margin-bottom:5px;
  font-size:11px;
  color:#999;
}

#relationshipList {
  text-align:left;
  padding-top:30px;
}
#RelationshipNode {
  margin-bottom:20px;
}
#RelationshipNode select {
  font-size:21px;
  width:210px;
}
#RelationshipNode div {
  margin-top:3px;
}
#RelationshipNode .myButton {
  padding: 6px 10px;
  float:right;
}
#RelationshipNode select, #RelationshipNode input {
  vertical-align:middle;
}
.away {
  width:10px;
  height:10px;
  position:absolute;
  left:-10000px;
}
