body.preview .pathsShadow path.link, body.preview g.conceptG .over {
  cursor:pointer;
}

g.conceptG.clr image {
  display:none;
}

g.conceptG.img .over {
  fill:transparent !important;
}

g.conceptG.clr text.blurred {
  display:none;
}

g.conceptG.clr.white_text text {
  fill: white;
}


g.conceptG.hide_border circle:not(.over), g.conceptG.hide_border rect:not(.over) {
  r: 49.5;
}
g.conceptG.hide_border.img.always_text circle:not(.over), g.conceptG.hide_border.img:hover circle:not(.over), g.conceptG.hide_border.always_text.img rect:not(.over), g.conceptG.hide_border.img:hover rect:not(.over) {
  r: 50;
}

g.conceptG.hide_border circle, g.conceptG.hide_border rect {
  stroke-width:0;
}

g.conceptG rect, g.conceptG.square circle  {
  display:none;
}
g.conceptG.square rect {
  display:block;
}

tspan.small_text {
  font-size:13px;
}

.leftOption, .rightOption {
  font-size: 11px;
  padding-top: 3px;
  color:#aaa;
}
.rightOption {
  float:right;
}
.leftOption {
  float:left;
}
#info .extra_input_options {
  overflow:hidden;
  margin-top:4px;
}
#selectionTitleHolder.multiple span {
  display:block;
}
#selectionTitleHolder.multiple > div, #selectionTitleHolder span {
  display:none;
}

#selectionTitle {
  font-weight:bold;
}

#circleOptions {
  padding-top:3px;
}
#circleOptions var {
  margin-right:25px;
}

#circleHelpContainer li {
  margin-bottom:10px
}

#guidelinesContent {
  text-align:left;
  font-size:15px;
}

#guidelinesContent b {
  display:block;
  margin-top:20px;
  margin-bottom:5px;
}

body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{
     text-align: center;
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;/*rgb(248, 248, 248)*/
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle, g.conceptG rect {
    stroke: #777;
    stroke-width: 2px;
}

path.link {
  fill: none;
  stroke-width: 5px;
  cursor: default;
}
.pathsShadow path.link {
  stroke-width:25px;
  stroke:transparent !important;
  marker-end:none !important;
}

path.link, body.brushing path.link.hovered {
  stroke: #ddd;
}

g.connect-node circle, g.connect-node rect {
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}



path.link {
  /*marker-end: url("#end-arrow");*/
}
path.link.hovered{
  /*marker-end: url("#end-arrow-hover");*/
}
path.link.selected {
  /*marker-end: url("#end-arrow-selected");*/
}



path.link.selected, g.selected circle, g.selected rect {
    stroke: #1284e4;
}
g.conceptG.selected circle, g.conceptG.selected rect {
    stroke-width:7px;
}

#overlay > div {
  display:none;
}
