body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{
     text-align: center;
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;/*rgb(248, 248, 248)*/
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #333;
}

g.conceptG circle{
    stroke: #777;
    stroke-width: 2px;
}

path.link {
  fill: none;
  stroke-width: 5px;
  cursor: default;
}
.pathsShadow path.link {
  stroke-width:25px;
  stroke:transparent !important;
  marker-end:none !important;
}

path.link, body.brushing path.link.hovered {
  stroke: #ddd;
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}



path.link {
  /*marker-end: url("#end-arrow");*/
}
path.link.hovered{
  /*marker-end: url("#end-arrow-hover");*/
}
path.link.selected {
  /*marker-end: url("#end-arrow-selected");*/
}



path.link.selected, g.selected circle {
    stroke: #1284e4;
}
g.selected circle{
    stroke-width:7px;
}

#overlay > div {
  display:none;
}
